@font-face {
  font-family: "Netflix-Sans-Regular";
  src: url("./fonts/netflixSans/329ed749825885d158c406c3bab32285.eot");
  src: url("./fonts/netflixSans/329ed749825885d158c406c3bab32285.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/netflixSans/329ed749825885d158c406c3bab32285.woff2")
      format("woff2"),
    url("./fonts/netflixSans/329ed749825885d158c406c3bab32285.woff")
      format("woff"),
    url("./fonts/netflixSans/329ed749825885d158c406c3bab32285.ttf")
      format("truetype"),
    url("./fonts/netflixSans/329ed749825885d158c406c3bab32285.svg#.")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
  font-family: Netflix-Sans-Regular;
}
